.lesson-content-editor-wrapper {
    .content-editor-content {
        height: unset;
    }

    .tiptap.ProseMirror {
        // min-height: unset;

        &.content-editor {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}