:root {
  --tt-slash-decoration-bg-color: var(--tt-gray-light-a-100);
  --tt-slash-decoration-color: var(--tt-gray-light-a-400);
  --tt-slash-menu-bg-color: var(--white);
  --tt-slash-menu-border-color: var(--tt-gray-light-a-100);
  --tt-slash-menu-text-color: var(--tt-gray-light-900);
}

.dark {
  --tt-slash-decoration-bg-color: var(--tt-gray-dark-a-100);
  --tt-slash-decoration-color: var(--tt-gray-dark-a-400);
  --tt-slash-menu-bg-color: var(--tt-gray-dark-50);
  --tt-slash-menu-border-color: var(--tt-gray-dark-a-100);
  --tt-slash-menu-text-color: var(--tt-gray-dark-900);
}

span.tiptap-slash-decoration {
  background: var(--tt-slash-decoration-bg-color);
  border-radius: var(--tt-radius-xs);
  outline: 5.5px solid var(--tt-slash-decoration-bg-color);
}

span.tiptap-slash-decoration::after {
  color: var(--tt-slash-decoration-color);
}

span.tiptap-slash-decoration.is-empty::after {
  content: attr(data-decoration-content);
}

.tiptap-slash-card-body {
  width: 100%;
}

/* Dark mode for slash dropdown when body.code-dark is set */
body.code-dark {
  [data-selector="tiptap-slash-dropdown-menu"] .tiptap-card {
    background-color: var(--tt-slash-menu-bg-color);
    border-color: var(--tt-slash-menu-border-color);
    color: var(--tt-slash-menu-text-color);
  }

  [data-selector="tiptap-slash-dropdown-menu"] .tiptap-card-body {
    color: var(--tt-slash-menu-text-color);
  }

  [data-selector="tiptap-slash-dropdown-menu"] .tiptap-button {
    color: var(--tt-slash-menu-text-color);
  }
  .tiptap-card {
    color: var(--tt-slash-menu-text-color);
  }
}
@media screen and (min-width: 480px) {
  .tiptap-slash-card {
    min-width: 15rem;
  }
}
